.lecture_content {
  width: 120rem;
  background: radial-gradient(#888, rgba(184, 199, 120, 0.504));
  color: #1e2529;
  margin: 0 auto;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
}
.lecture_header {
  display: flex;
  /* justify-content: left; */
  height: 36rem;

  background-image: url("../../../public/images/lectureImages/piano_title_large.jpg");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}
.lecture_image {
}
.lecture_title {
  margin: 3rem;
  color: #888;
  padding: 0;
  font-size: 6rem;
  align-self: center;
}

h2 {
  font-size: 3rem;
}
p {
  font-size: 2.4rem;
}
.material {
  display: flex;
  flex-direction: column;
}
.article_heading {
  display: block;
  align-self: center;
}
.content_wrapper {
  display: flex;
  justify-content: space-around;
}
.list {
  list-style: none;
  font-size: 2.2rem;
}
figure {
  box-shadow: 5px 5px 10px rgba(10, 9, 19, 0.79);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
figure:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.card {
}
.card_header {
}
.card_text {
}
